body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.deck {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -280px;
  margin-left: -280px;
  background-image: 
		linear-gradient(90deg, #ccc 70px, #999 70px),
    linear-gradient(90deg, #999 70px, #ccc 70px),
    linear-gradient(90deg, #ccc 70px, #999 70px),
    linear-gradient(90deg, #999 70px, #ccc 70px),
    linear-gradient(90deg, #ccc 70px, #999 70px),
    linear-gradient(90deg, #999 70px, #ccc 70px),
    linear-gradient(90deg, #ccc 70px, #999 70px),
    linear-gradient(90deg, #999 70px, #ccc 70px);
	background-position: 0 0px, 0 70px, 0 140px , 0 210px, 0 280px, 0 350px, 0 420px, 0 490px;
	background-repeat: repeat-x;
	background-size: 140px 70px, 140px 70px;
	height: 560px;
	width: 560px;
}

.row {
  width: 100%;
  clear: both;
}

.block {
  float:left;
  width: 70px;
  height: 70px;
  text-align: center;
}

.move_spot {
  background: red;
  opacity: 0.5;
}

.peice {
  cursor: pointer;
  border-radius: 50%;
  height: 80%;
  width: 80%;
  margin: 10%;
  line-height:50px;
  font-size: 40px;
}

.black{
  color:#fff;
  background-color:#000;
}

.white {
  color:#000;
  background-color:#fff;
}

.empty {
  font-size: 10px;
}

.active_peice {
  background: rgb(255,0,0);
  background: radial-gradient(circle, rgba(255,0,0,1) 0%, rgba(0,0,0,1) 100%);
  color:#fff;
}

.stats_tab {
  position: absolute;
    right: 0px;
    top: 0px;
    text-align: left;
    padding: 10px;
    background: #000;
    border-radius: 0px 0px 0px 10px;
    color: #fff;
    font-size: 12px;
  }

.stats_tab h2 {
  padding: 0px;
  margin: 0px;
}
.stats_tab ul {
  padding: 0px;
  margin: 0px;

}

.stats_tab li {
  padding: 0px;
  margin: 0px;
  list-style: none;
}